.checkout {

  &_content {
    padding: 60px 228px 60px 228px;

    .data-title {
      display: flex;
      align-items: center;

      .devider {
          height: 25px;
          border-left: 8px solid $blue-9;
          margin-right: 8px;
          border-radius: 4px;
      }

      label {
          font-weight: bold;
          text-transform: uppercase;
          font-size: 28px;
          margin: 0;
      }


    }

    .devider-bottom {
      margin-top: 10px;
      width: 100%;
      border-bottom: 4px solid $blue-9;
    }

    .title_address {
      display: flex;
      align-items: center;
      margin-top: 30px;

      i {
        font-size: 26px;
        color: $blue-9;
      }
      label {
        margin-left: 10px;
        margin-bottom: 0;
        text-transform: capitalize;
        font-size: 26px;
        font-weight: bold;
      }
    }

    .address_primary {
      margin-top: 20px;
      display: flex;
      align-items: center;

      &_badge {
        font-size: 18px;
        font-weight: 700;
        text-transform: uppercase;
        background-color: $black-6;
        width: 100px;
        text-align: center;
        color: $white;
        margin-right: 30px;
      }

      &_name {
        width: 300px;
        height: auto;

        label {
          font-size: 20px;
          font-weight: bold;
          text-transform: capitalize;
        }
        .contact {
          font-size: 20px;
          font-weight: bold;
          line-height: 16px;
        }
      }

      &_location {
        font-size: 20px;
        color: $black-10;
      }

      .btn_edit {
        background-color: $white;
        color: $black-10;
        font-size: 24px;
        border: none !important;
      }
    }

    .order {
      margin-top: 60px;

      &_content {
        label {
          font-size: 24px;
          color: $black-10;
          line-height: 30px;
          font-weight: 700;
          margin-bottom: 20px;
        }

        .order_data_content {
          display: flex;
          text-align: start;

          .images-cart {
            margin-right: 30px;
            width: 180px;
            height: 180px;
            border-radius: 8px;
          }

          .information_order {
            &_title {
              font-size: 28px;
              color: $black-10;
              line-height: 30px;
              font-weight: 700;
            }

            &_variant {
              font-size: 18px;
              color: $black-10;
              margin-top: 6px;
            }

            &_price {
              margin-top: 6px;
              font-size: 24px;
              font-weight: 700;
              color: $black-10;
            }

            &_reserve {

              display: flex;
              justify-content: space-between;
              text-align: center;

              .nominal_reserve {
                font-size: 18px;
                color: $black-10;
                margin-bottom: 0;
              }

              .btn_edit {
                background-color: $white;
                color: $black-10;
                font-size: 24px;
                border: none !important;
              }
            }
          }


        }
      }
    }

    .information_promo {
      display: flex;
      align-items: center;
      padding: 30px;
      border-radius: 8px;
      box-shadow: 2px 3px 9px 0px rgba(0,0,0,0.75);
      -webkit-box-shadow: 2px 3px 9px 0px rgba(0,0,0,0.75);
      -moz-box-shadow: 2px 3px 9px 0px rgba(0,0,0,0.75);

      img {
        width: 76px;
        height: 130px;
      }
      label {
        color: $black-10;
        font-weight: 600;
        font-size: 20px;
      }
    }

    .total_purchasing {
      margin-top: 30px;

      label {
        font-weight: 700;
        font-size: 24px;
        text-transform: capitalize;
        color: $black-10;
        text-decoration: underline;
      }

      .total_product {
        display: flex;
        justify-content: space-between;
        label {
          font-weight: 500;
          font-size: 18px;
          color: $black-10;
          text-decoration: none;
        }

        .count {
          color: $black-10;
          font-weight: 500;
          font-size: 18px;
        }
      }


      .total_promo {
        display: flex;
        justify-content: space-between;

        label {
          font-weight: bold;
          font-size: 18px;
          color: $black-10;
          text-decoration: none;
          text-transform: capitalize;
        }

        .count {
          color: $black-10;
          font-weight: 500;
          font-size: 18px;
        }
      }

      .total_price {
        display: flex;
        justify-content: space-between;

        label {
          font-weight: bold;
          font-size: 18px;
          color: $black-10;
          text-decoration: none;
          text-transform: capitalize;
        }

        .count {
          color: $black-10;
          font-weight: 500;
          font-size: 18px;
        }
      }
    }

    .method_payment {

      &_label {
        font-size: 24px;
        font-weight: 700;
        text-transform: capitalize;
        text-decoration: underline;
      }
    }

  }
}
