@import './kit/kit';

@import './override/login';
@import './override/register';

@import './override/components/navbar';
@import './override/components/footer';

@import './override/components/filter-category';
@import './override/components/filter-popular';
@import './override/components/filter-new-product';
@import './override/components/filter-recomanded';

body {
    font-family: 'Poppins', sans-serif;
    -moz-transform: scale(0.8, 0.8); 
    zoom: 0.8; 
    zoom: 80%;
}

input {
    height: 50px !important;
}