.btn {
  &-outline-primary {
    color: $blue-9 !important;
    border-radius: 4px !important;
    background-color: $white;

    &:hover {
      background-color: $blue-9;
      color: $white !important;
    }
  }

  &-primary {
    color: $white !important;
    border-radius: 4px !important;
    background-color: $blue-9 !important;
    border: 0 !important;
    &:hover {
      background-color: $blue-9;
      color: $white !important;
    }
  }
}

.pnom-btn-primary {
  height: 60px;
  font-size: 20px;
  font-weight: bold;
}

.pnom-btn-yellow {
  background-color: $yellow-9;
  border: $yellow-9;
  font-weight: bold;
}

.pnom-btn-red {
  font-size: 32px;
  font-weight: bold;
  color: $white;
  background-color: $red-9;
  width: 286px;
  height: 60px;
  text-transform: uppercase;
  text-align: center;
  border: 1px solid $red-9;

  &:hover {
    background-color: $white;
    color: $black-10;
    border: 1px solid $red-9;
  }
}

.pnom-btn-white {
  background-color: $white;
  color: $black-10;
  font-size: 24px;
  border: none !important;

  &:hover {
    background-color: $white;
    border: none;
    color: $black-10;
  }

  &::after {
    background-color: $white;
    border: none;
    color: $black-10;
  }
}

.pnom-btn-white-18 {
  background-color: $white;
  color: $black-10;
  font-size: 18px;
  border: none !important;
  text-transform: capitalize;
  &:hover {
    background-color: $white;
    border: none;
    color: $black-10;
  }

  &::after {
    background-color: $white;
    border: none;
    color: $black-10;
  }
}
