.btn {
  height: 45px;

  &-outline-primary {
    color: $blue-9 !important;
    border-radius: 4px !important;

    &:hover {
      background-color: $blue-9;
      color: $white !important;
    }
  }

  &-primary {
    color: $white !important;
    border-radius: 4px !important;
    background-color: $blue-9 !important;
    border: 0 !important;
    &:hover {
      background-color: $blue-9;
      color: $white !important;
    }
  }
}
