.custom-checkbox {

  .custom-control-label {
    padding: 6px 8px 6px 18px;
    font-size: 18px;
    color: $black-10;

    &::before {
      width: 30px !important;
      height: 30px !important;
    }

    &::after {
      width: 30px !important;
      height: 30px !important;
    }

    &:hover {
      border: 0 !important;
    }
  }
}
