.empty_state_list {
  margin-top: 140px;
  text-align: center;

  .title {
    margin-top: 20px;
    font-size: 30px;
    color: $blue-10;
    font-weight: bold;
  }

  .title_second {
    font-size: 24px;
    color: $black-6;
  }
}
