$white: #ffffff;

$black-10: #000000;
$black-9: #2b2d42;
$black-8: #393939;
$black-7: #565656;
$black-6: #656565;
$black-5: #9e9e9e;
$black-4: #eaeaea;
$black-3: #d9d9d9;
$black-2: #f9f9f9;
$black-1: #f4f4f4;

$red-10: #d10124;
$red-9: #d10024;
$red-8: #ff0000;
$red-7: #ff1f45;
$red-6: #bd2121;
$red-5: "";
$red-4: "";
$red-3: "";
$red-2: "";
$red-1: "";

$blue-10: #0c2d55;
$blue-9: #114f98;
$blue-8: "";
$blue-7: "";
$blue-6: "";
$blue-5: "";
$blue-4: #c9e2ff;
$blue-3: "";
$blue-2: "";
$blue-1: #dedeff;

$yellow-10: #f2b20d;
$yellow-9: #fe8900;
$yellow-8: "";
$yellow-7: "";
$yellow-6: "";
$yellow-5: "";
$yellow-4: "";
$yellow-3: "";
$yellow-2: "";
$yellow-1: "";
