$white: #FFFFFF;

$black-10: #000000;
$black-9: '';
$black-8: #393939;
$black-7: #565656;
$black-6: #656565;
$black-5: '';
$black-4: '';
$black-3: #D9D9D9;
$black-2: '';
$black-1: #F4F4F4;

$red-10:#D10124;
$red-9:#D10024;
$red-8:#FF0000;
$red-7:'';
$red-6:'';
$red-5:'';
$red-4:'';
$red-3:'';
$red-2:'';
$red-1:'';

$blue-10:#0C2D55;
$blue-9:#114F98;
$blue-8:'';
$blue-7:'';
$blue-6:'';
$blue-5:'';
$blue-4:'';
$blue-3:'';
$blue-2:'';
$blue-1:'';

$yellow-10:#F2B20D;
$yellow-9:#FE8900;
$yellow-8:'';
$yellow-7:'';
$yellow-6:'';
$yellow-5:'';
$yellow-4:'';
$yellow-3:'';
$yellow-2:'';
$yellow-1:'';
